<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <form [formGroup]="form" (ngSubmit)="submit()">
                
    
                  <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                  <p class="text-white-50 mb-5">Please enter your email and password!</p>
    
                  <div class="form-outline form-white mb-4">
                    <input type="email" id="typeEmailX" class="form-control form-control-lg"
                    formControlName="email" />
                    <label class="form-label" for="typeEmailX">Email</label>
                    <small id='danger-label-username' class="text-danger danger-label" *ngIf="
                    form.controls['email'].touched &&
                    form.controls['email'].errors?.['required']">
                    Email can't be empty!
                    </small>
                  </div>
    
                  <div class="form-outline form-white mb-4">
                    <input type="password" id="typePasswordX" class="form-control form-control-lg"
                    formControlName="password" />
                    <label class="form-label" for="typePasswordX">Password</label>
                    <small id='danger-label-pass' class="text-danger" *ngIf="
                    form.controls['password'].touched &&
                    form.controls['password'].errors?.['required']">
                    Password can't be empty!
                    </small>
                  </div>
    
                  <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>
    
                  <button class="btn btn-outline-light btn-lg px-5" type="submit"
                  [disabled]="!form.valid">Login</button>             
                
                
              </form>
              
              <p  style="margin-top: 5%;" class="mb-0">Don't have an account? <a href="#!" class="text-white-50 fw-bold">Sign Up</a>
              </p>
              
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>