<div style="overflow: hidden;">
    <div style="height: 800px; width: 800px; float: left;">
        <p style="text-align: center; font-weight: bold; color: white">Income of restaurants</p>
        <app-doughnut-chart [doughnutChartLabels]="doughnutChartLabels" 
        [doughnutChartData]="doughnutChartData"></app-doughnut-chart>
    </div>
    <div style="height: 800px; width: 800px; float: left;">
        <p style="text-align: center; font-weight: bold; color: white">Chart of sales</p>
        <app-doughnut-chart [doughnutChartLabels]="doughnutChartLabels2" 
        [doughnutChartData]="doughnutChartData2"></app-doughnut-chart>
    </div>
</div>
