<div class="card text-white bg-dark mb-3" style="width: 18rem;">
    <img src="{{restaurant.Image}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{restaurant.RestaurantName}}</h5>
      <p class="card-text">
        Delivery: {{restaurant.Delivery}} RSD <br>
        Contact Phone: {{restaurant.ContactPhone}} <br>
        Street: {{restaurant.Street}} <br>
        StreetNumber: {{restaurant.StreetNumber}} <br>
        City: {{restaurant.City}}
      </p>
    </div>
    <div class="card-body" *ngIf="role === 'ADMIN'">
      <button type="button" class="btn btn-light" (click)="updateRestaurant(restaurant.Id)">Update</button>
      <button type="button" style="margin-left: 5%;" class="btn btn-danger" (click)="deleteRestaurant(restaurant.Id)">Delete</button>
    </div>
    <div class="card-body" *ngIf="role === 'APPUSER'">
      <button type="button" class="btn btn-light" (click)="restaurantInfo(restaurant.Id)">Details</button>
      <button type="button" class="btn btn-light" style="margin-left: 10%;" (click)="restaurantReviews(restaurant.Id)">Reviews</button>
    </div>
</div>