<div>
    <div id="ol-map" class="map-container"></div>
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" width="150px" 
                    src="{{restaurant.Image}}">
                    <span class="font-weight-bold">{{restaurant.RestaurantName}}</span>
                    <span class="text-black-50">{{restaurant.ContactPhone}}</span><span>
                    </span>
                </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">
                            About {{restaurant.RestaurantName}}
                        </h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Restaurant Name</label>
                            <input type="text" class="form-control" 
                            placeholder="Restaurant Name" value="{{restaurant.RestaurantName}}"
                            [(ngModel)]="restaurant.RestaurantName" readonly>
                        </div>
                        <div class="col-md-6"><label class="labels">Contact Phone</label>
                            <input type="text" class="form-control" value="{{restaurant.ContactPhone}}"
                             placeholder="Contact"  [(ngModel)]="restaurant.ContactPhone" readonly>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Country</label>
                            <input type="text" class="form-control" 
                            placeholder="Country" value="{{restaurant.Country}}"
                            [(ngModel)]="restaurant.Country" readonly>
                        </div>
                        <div class="col-md-12"><label class="labels">City</label>
                            <input type="text" class="form-control" 
                            placeholder="City" value="{{restaurant.City}}"
                            [(ngModel)]="restaurant.City" readonly>
                        </div>
                        <div class="col-md-12"><label class="labels">Street</label>
                            <input type="text" class="form-control" 
                            placeholder="Street" value="{{restaurant.Street}}"
                            [(ngModel)]="restaurant.Street" readonly>
                        </div>
                        <div class="col-md-12"><label class="labels">Street Number</label>
                            <input type="text" class="form-control"
                             placeholder="Street Number" value="{{restaurant.StreetNumber}}"
                             [(ngModel)]="restaurant.StreetNumber" readonly>
                        </div>
                        <div class="col-md-12"><label class="labels">Ptt</label>
                            <input type="text" class="form-control"
                             placeholder="Ptt" value="{{restaurant.Ptt}}"
                             [(ngModel)]="restaurant.Ptt" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center experience">
                        <span>User Address</span>
                        <span class="border px-3 p-1 add-experience">
                            <i class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
                    <div class="col-md-12">
                        <label class="labels">User's Country</label>
                        <input type="text" class="form-control" placeholder="User's Country"
                         value="{{newOrder.Country}}"  [(ngModel)]="newOrder.Country">
                    </div> <br>
                    <div class="col-md-12">
                        <label class="labels">User's City</label>
                        <input type="text" class="form-control" placeholder="User's City" 
                        value="{{newOrder.City}}"  [(ngModel)]="newOrder.City">
                    </div>
                    <div class="col-md-12">
                        <label class="labels">User's Street</label>
                        <input type="text" class="form-control" placeholder="User's Street"
                         value="{{newOrder.Street}}"  [(ngModel)]="newOrder.Street">
                    </div>
                    <div class="col-md-12">
                        <label class="labels">User's Street Number</label>
                        <input type="text" class="form-control" placeholder="User's Street Number" 
                        value="{{newOrder.StreetNumber}}"  [(ngModel)]="newOrder.StreetNumber">
                    </div>
                    <div class="col-md-12">
                        <label class="labels">User's Ptt</label>
                        <input type="text" class="form-control" placeholder="User's Ptt" 
                        value="{{newOrder.Ptt}}"  [(ngModel)]="newOrder.Ptt">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-articles-page (sendItemToRestaurantInfoPage)="addItemToOrder($event)"></app-articles-page>

    <div *ngIf="newOrder.OrderItemsDTO.length > 0">
        <div class="row">
            <table  class="table table-dark table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Article Name</th>
                    <th scope="col">Current Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">TotalPrice</th>
                    <th scope="col">Remove</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let orderItem of newOrder.OrderItemsDTO; index as i">
                        <td><h3>{{i+1}}</h3></td>
                        <td>{{orderItem.ArticleName}}</td>
                        <td>{{orderItem.CurrentPrice}}</td>
                        <td>{{orderItem.Quantity}}</td>
                        <td>{{orderItem.TotalPrice}}</td>
                        <td>
                            <button type="button" class="btn btn-light"
                            (click)="removeItemFromOrder(orderItem)">Remove</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group">
                <label for="comment" style="color: white; font-weight: bold">Tip:</label>
                <input type="number" min="0" class="form-control" placeholder="Tip" 
                        value="{{newOrder.Tip}}"  [(ngModel)]="newOrder.Tip">
            </div>
            <div class="form-group">
                <label for="comment" style="color: white; font-weight: bold">Note:</label>
                <textarea class="form-control" rows="4" id="comment"
                [(ngModel)]="newOrder.Note"></textarea>
            </div>
            <div class="p-3 py-5" style="color: white;">
                TotalPrice: <b>{{newOrder.TotalPrice}}</b> RSD
                Tip: <b>{{newOrder.Tip}}</b> RSD
                <button type="button" class="btn btn-light" style="margin-left: 5%;"
                (click)="createOrder()">Create Order</button>
            </div>
        </div>      
    </div>
</div>
